<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589928693522-voijep31vb7d9b4o0200ct73ke9hg507.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589928693522-voijep31vb7d9b4o0200ct73ke9hg507</string>
	<key>API_KEY</key>
	<string>AIzaSyDvbqz5jDVGWzf43_4ZmKUb60rqeue2Eac</string>
	<key>GCM_SENDER_ID</key>
	<string>589928693522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calinvasileandrei.benchbuddy</string>
	<key>PROJECT_ID</key>
	<string>gymtren-80f43</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtren-80f43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589928693522:ios:5c77640b5041dbff3c7dcb</string>
</dict>
</plist>